$blue: #336791;
$gray: #e9ecef;

body {
    background-color: $gray;
}

hr {
    border-bottom: 1px solid $blue;
}

main img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    padding: 10px;
    border-radius: 15px;
}

a {
    color: $blue;
    font-weight: bold;
}

.btn-outline-primary {
    color: $blue;
    border-color: $blue;
}

.btn-primary, .btn-outline-primary:hover {
    background-color: $blue;
    border-color: $blue;
}

.btn-outline-light:hover {
    color: $blue;
}

.btn-primary:hover {
    background-color: white;
    color: $blue;
}

.jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;

    .container {
        margin-bottom: 30px;
    }

    .col-md-4 {
        border-right: 1px solid $blue;
        text-align: center;

        &:last-child {
            border-right: none;
        }

        .mx-auto p {
            text-align: left;
        }
    }
}

.nav-pills .nav-link.active {
    background-color: $blue;
}

.odd, .even {
    padding: 50px 0;
    color: $blue;

    h3 {
        font-size: 36px;
        padding: 0 20px;
    }

    p {
        padding: 0 20px;
    }
}

.odd {
    background-color: $blue;
    color: $gray;

    hr {
        border-bottom-color: $gray;
    }

    a {
        color: $gray;
    }
}

footer {
    border-top: 1px solid $gray;
    padding-top: 30px;
}

blockquote {
    border-left: 5px solid $blue;
    padding-left: 10px;
}

main {
    margin-top: 20px;
    .documentation {
        display: flex;

        .container {
            width: 60%;
        }
    }
}
