<html>
    <head>
        <meta charset="utf-8">
        <title>
            Elephantry - When Rust meets PostgreSQL
            {% if page.title %}
                | {{ page.title }}
            {% endif %}
            {% if section.title %}
                | {{ section.title }}
            {% endif %}
        </title>
        <link rel="icon" type="image/png" href="{{ get_url(path="/favicon.ico")|safe }}" sizes="32x32" />
        <link href="{{ get_url(path="/lib/bootstrap/dist/css/bootstrap.min.css")|safe }}" rel="stylesheet" />
        <link rel="stylesheet" href="{{ get_url(path="site.css")|safe }}"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ get_url(path="/")|safe }}">Elephantry</a>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Docs</a>
                            {% set doc = get_section(path="documentation/_index.md") %}
                            <ul class="dropdown-menu">
                                {% for page in doc.pages %}
                                    <li><a class="dropdown-item" href="{{ page.permalink }}">{{ page.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ext" target="_blank" href="https://docs.rs/elephantry/">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ext" target="_blank" href="https://github.com/elephantry/elephantry">Code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main">
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="container">
                <p>&copy; 2020 - 2022 <a href="https://github.com/orgs/elephantry/people">The elephantry team</a>.</p>
            </div>
        </footer>
    </body>
</html>
